body {
    background: #ebebeb;
}

h1 {
    text-align: center;
    font-size: 90px;
    font-family: "American Typewriter Black";
    margin: 1em;
    color: #296985;
}

table {
    align-content: center;
    align-self: center;
    margin: auto;
    padding: 20px;
    width:50%;
}

tr {
    font-size: x-large;
}

td {
    border: 1px solid #333;
}

thead {
    font-size: xx-large;
    font-family: "Arial Black";
}

button {
    background-color: #296985;
    border: none;
    color: white;
    padding: 20px 32px;
    margin: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    width: 40%;
    font-family: "American Typewriter";
}

/* CSS per personalizzare il menu a tendina */
select {
    width: 320px;
    height: 60px;
    padding: 8px;
    font-size: 40px;
    border: 1.5px solid #000000;
    border-radius: 4px;
    margin: 1em;
    font-family: "American Typewriter";
}

label {
    width: 320px;
    padding: 8px;
    font-size: 40px;
    margin: 1em;
    text-align: start;
}

input {
    width: 300px;
    height: 60px;
    padding: 8px;
    font-size: 40px;
    border-radius: 4px;
    margin: 1em;
    font-family: "American Typewriter";
}

/* Stile per gli elementi <option> */
option {
    font-size: 40px;
    background-color: #f0f0f0;
    color: #333;
}

.center-flexbox {
    display: flex;
    justify-content: center;
    font-family: "American Typewriter";
    flex-direction: row;
}